@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?6nozif');
    src:    url('fonts/icomoon.eot?6nozif#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?6nozif') format('truetype'),
        url('fonts/icomoon.woff?6nozif') format('woff'),
        url('fonts/icomoon.svg?6nozif#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-volleyball:before {
    content: "\e900";
}
.icon-user:before {
    content: "\e901";
}
.icon-radio-unchecked:before {
    content: "\e902";
}

#scoreKeeper{
	background: white;
	height: 100vh;
	font-family: 'Slabo 27px', serif;
}

.header-display-wrapper{
	width: 100%;
    font-size: 1.1em;
    /*border-bottom: 1px solid black;*/
    color: #000;
  
    /*margin: 0 0 10px 0px;*/
/*    background-color: rgba(0, 173, 147,.8);*/
}

.header-title{
	font-size: 1.4em;
	padding: 20px 0px 20px 20px;
	width: 90%;
}

.header-row{
	
}

.content-display-wrapper{
	width: 100%;
	height: 60%;
}

.side{
	width: 50%;
	height: 100%;
	float: left;
	text-align: center;
	text-shadow: 1px 1px 1px black;
	background:linear-gradient(#00ad93,#fff);
	background-repeat: repeat;
	background-position: center;
}

.sideRight{
	background:linear-gradient(rgb(0,0,255),#fff);
}
.bgImg{
	position: relative;
	top: -15px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	box-shadow: 0 0 20px white, inset 0px 0px 20px white;
}
.teamName{
	position: relative;
	top: -50px;
	min-height: 150px;
	color:white;
	text-shadow: 1px 1px 1px black;
	font-size: 40px;
	overflow: hidden;
	text-overflow: ellipsis; 
}
.score{
	font-family: 'Play', sans-serif;
	position: relative;
	top: -70px;
	font-size: 80px;
	text-shadow: 1px 1px 1px white;
}


/*Admin*/
.adminControlDisplay{
	display: none;
}
/*MENU*/
/*fun hamburger menu thing*/

#showRight {
    width: 60px;
    height: 60px;
    position: relative;
    top: 5%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#showRight span {
    display: block;
    position: absolute;
    height: 9px;
    width: 80%;
    background: #F5F5F5;
    box-shadow: 0px 0px 2px #000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#showRight span:nth-child(1) {
    top: 4px;
}

#showRight span:nth-child(2), #showRight span:nth-child(3) {
    top: 16px;
}

#showRight span:nth-child(4) {
    top: 28px;
}

#showRight.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#showRight.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#showRight.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#showRight.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}


#showRight{
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 9999;
}

/*SLIDE OUT MENU*/
.menuRight {
	position: fixed;
	width: 300px;
	height: 100%;
	top: 0;
	z-index: 1000;
	background: #00ad93;
	color: #fff;
	max-height: 100%;
    overflow-y: scroll;
}

.menuRight h3 {
	/*color: #afdefa;*/
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	min-height: 36px;
	background: #0d77b6;
	background: #000;
}

#menuHeaderText{
	width: 100px;
}

#makeNewGame{
    color: white;
    background: rgba(0,0,255,0);
    border: 1px solid #fff;
    float: left;
    margin: 0 30px 0 0;
}

.userProfile{
	cursor: pointer;
    font-size: 1.3em;
    line-height: 0;

}
#userProfile{
	border:1px solid #fff;
}

.menuRight .gameListItem {
	display: block;
	color: #000;
	font-size: 1.1em;
	font-weight: 300;
	cursor: pointer;
	text-align: center;
	border-bottom: 1px solid #000;
	background: rgba(255,255,255,.6);
	padding: 4px 0;
	width: 100%;

}

.gameList-teamNameOne{
	text-align: center;
    padding: 0 0 4px 0;
}
.gameList-teamNameTwo{
	text-align: center;
    border-bottom: 1px solid white;
    margin: 0 20px 10px 20px;
}
.gameList-scoreWrapper{
    float: left;
    padding: 0 0 0 10px;
}
.gameList-dateLocation{
	text-align: right;
    padding: 0 8px 0 0;
}
.menuRight .gameListItem:hover {
	background: #258ecd;
}

.menuRight .gameListItem:active,#userProfile:active, #makeNewGame:active{
	background: #afdefa;
	color: #47a3da;
}

.menuRight-right {
	right: -300px;
}

.menuRight-right.menuRight-open {
	right: 0px;
}

.menuRight {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

footer{
	position: fixed;
	right: 10px;
	bottom: 6px;
}


@media screen and (max-width: 73.375em) {
	.header-display-wrapper{
	    /*margin: 0 0 16px 0px;*/
	}
	.header-title{
		width: 80%;
	}
	.menuRight .gameListItem{
		font-size: 1.3em;
	}
    
}

@media screen and (max-width: 30.25em) {
	.header-display-wrapper{
		/*text-align: center;*/
	}
	.header-title{
		width: 70%;
	}
}

/*score keeper*/
/*body{
	background: #E3F2FD;
}
.headerWrapper{*/
	/*box-shadow: inset -5px -10px 40px white;*/
/*	background: #E3F2FD;
	box-shadow: 0px 20px 20px #E3F2FD;
}

.lastUpdate,.startDate{
	font-size: 30px;
	text-shadow: 1px 1px white;
	font-family: 'Jaldi', sans-serif;
}

.update{
	font-size: 16px;
}

.mainWrapper{
	background: #E3F2FD;
}

.side{
	background-color: #F44336;
	text-align: center;*/
	/*border-radius: 50%;*/
/*	box-shadow: inset 0px -3px 3px black, inset 0px 2px 1px black;
}

.side:nth-child(1){
	background-color: #03A9F4;
}

.teamName{
	position: relative;
	top: -50px;
	min-height: 150px;
	color:white;
	text-shadow: 1px 1px 1px black;
	font-size: 40px;
	font-family: 'Lakki Reddy', cursive;
}


.score{
	position: relative;
	top: -20px;
	font-size: 80px;
	font-family: 'Lakki Reddy', cursive;
	text-shadow: 1px 1px 1px white;
}

.bgImg{
	position: relative;
	top: -15px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	box-shadow: 0 0 20px white, inset 0px 0px 20px white;
}

.ng-cloak, [ng-cloak]{
	display: none;
}

.swipeCover{
	
}*/